# https://github.com/gravitational/teleport/discussions/16370

{
        # https://caddyserver.com/docs/automatic-https#testing
        acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
#        acme_ca https://acme-v02.api.letsencrypt.org/directory
        admin 0.0.0.0:2019
        email {env.CLOUDNS_EMAIL}
}

### Global Configuration
#{
##  local_certs /certs/openstudiolandscapes.cloud-ip.cc_ecc/fullchain.cer /certs/openstudiolandscapes.cloud-ip.cc_ecc/openstudiolandscapes.cloud-ip.cc.key
#  acme_dns cloudns {
#    auth_id auth_id "{env.CLOUDNS_AUTH_ID}"
##    sub_auth_id "<sub_auth_id>"
#    auth_password "{env.CLOUDNS_AUTH_PASSWORD}"
#  }
#}

#transmission.openstudiolandscapes.cloud-ip.cc {
#        reverse_proxy 192.168.178.10:9091/admin/
#}

#{env.CLOUDNS_DOMAIN}, *.{env.CLOUDNS_DOMAIN} {
teleport.openstudiolandscapes.cloud-ip.cc, *.teleport.openstudiolandscapes.cloud-ip.cc {
        # Per-Site Configuration
#        tls {
#                dns cloudns {
#                        auth_id "{env.CLOUDNS_AUTH_ID}"
##                        sub_auth_id "<sub_auth_id>"
#                        auth_password "{env.CLOUDNS_AUTH_PASSWORD}"
#                }
#                resolvers 8.8.8.8 8.8.4.4
#        }

#        root * /srv/site
#        file_server



        @transmission host transmission.teleport.openstudiolandscapes.cloud-ip.cc
        handle @transmission {
                reverse_proxy 192.168.178.10:9091/admin/

#        reverse_proxy 192.168.178.10:9091/admin/

#        @teleport host {env.CLOUDNS_DOMAIN}
#        handle @teleport {
##                reverse_proxy https://teleport.openstudiolandscapes.lan:3080
#                reverse_proxy https://teleport.openstudiolandscapes.lan:3080 {
#                        # Portainer uses a self signed certificate
#                        transport http {
#                                tls
#                                tls_server_name teleport.openstudiolandscapes.cloud-ip.cc
#                        }
#                }
#        }
}

#*.{env.CLOUDNS_DOMAIN} {
#        # Per-Site Configuration
#        tls /certs/openstudiolandscapes.cloud-ip.cc_ecc/fullchain.cer /certs/openstudiolandscapes.cloud-ip.cc_ecc/openstudiolandscapes.cloud-ip.cc.key
##        tls {
##                dns cloudns {
##                        auth_id "{env.CLOUDNS_AUTH_ID}"
###                        sub_auth_id "<sub_auth_id>"
##                        auth_password "{env.CLOUDNS_AUTH_PASSWORD}"
##                }
##                resolvers 8.8.8.8 8.8.4.4
##        }
#
##        root * /srv/site
##        file_server
#
##        @caddy host caddy.{env.CLOUDNS_DOMAIN}
##        handle @caddy {
##                root * /usr/share/caddy
##                php_fastcgi localhost:80
##                file_server
##        }
#
#        @portainer host caddy-portainer.{env.CLOUDNS_DOMAIN}
#        handle @portainer {
#                reverse_proxy https://portainer.farm.evil:9443 {
#                        # Portainer uses a self signed certificate
#                        transport http {
#                                tls
#                                tls_insecure_skip_verify
#                        }
#                }
#        }
}
