TRUSTED_ORIGINS=
# Maybe we need to add more trusted origins for
# Portainer Edge Agents to work.
# Defaults
# User: admin
# default password (unhashed): my_secret_password
DEFAULT_ADMIN_PASSWORD=$$2y$$10$$Jr9oNSv.uCtKuUuXcpjcdeOgkhpVHMaCRKLnCSFqcGArNCJHFnN9m
TZ=UTC
