{
    auto_https off
}

tls {
	dns cloudflare {
		zone_token {env.CF_ZONE_TOKEN}
		api_token {env.CF_API_TOKEN}
	}
}

memoriaworks.com {
    redir https://www.localhost{uri} permanent
}

www.memoriaworks.com {

    root * /html

    file_server {
        browse
    }

    # handle_errors 404 {
    #     rewrite * /404.html
    #     file_server
    # }

    # handle_errors 5xx {
    #     rewrite * /5xx.html
    #     file_server
    # }

    # handle_errors {
    #     respond "It's a different error"
    # }

}