{
    auto_https off  # Pangolin takes care of SSL encryption
    debug
}

:80 {

    root * /html/www.memoriaworks.com

    file_server {
        browse
    }

}

:81 {

    root * /html/intra.memoriaworks.com

    file_server {
        browse
    }

}
