TZ=UTC
# Admin user (full admin)
# admin
# default password (unhashed): my_secret_password
DEFAULT_ADMIN_USER=admin
DEFAULT_ADMIN_PASSWORD_HASHED=$$2y$$10$$zyuif3MTF8osd7lOxCOJa.KkmKXhLdQObAR1L/.lbxiStxC2m3sB2
