FTLCONF_dns_dnssec='true'
FTLCONF_dns_listeningMode="all"
FTLCONF_dns_upstreams="127.0.0.1#5335"  # <-- for unbound
FTLCONF_webserver_api_password="myp4ssword"
FTLCONF_webserver_interface_theme="default-dark"
FTLCONF_dns_revServers="${REV_SERVER:-false},${REV_SERVER_CIDR},${REV_SERVER_TARGET},${REV_SERVER_DOMAIN}"
FTLCONF_webserver_port=80
TZ="UTC"
