TZ=UTC
RECORDING_ENABLED=true

# # db
# MYSQL_DATABASE: guacamole_db
# MYSQL_ROOT_PASSWORD: 'test'
# MYSQL_PASSWORD: 'test'
# MYSQL_USER: 'guacamole_user'

# # guacamole
# GUACD_HOSTNAME: guacd
# MYSQL_HOSTNAME: 'db'
# JSON_SECRET_KEY: 4c0b569e4c96df157eee1b65dd0e4d41
