# Registry
REGISTRY_HTTP_TLS_CERTIFICATE="/certs/registry.<YOUR_LAN_DOMAIN>.crt"  # <-- CHANGE ME
REGISTRY_HTTP_TLS_KEY="/certs/registry.<YOUR_LAN_DOMAIN>.key"  # <-- CHANGE ME
REGISTRY_AUTH="htpasswd"
REGISTRY_AUTH_HTPASSWD_REALM="Registry Realm"
REGISTRY_AUTH_HTPASSWD_PATH="/auth/htpasswd"
# https://github.com/Joxit/docker-registry-ui?tab=readme-ov-file#recommended-docker-registry-usage
REGISTRY_HTTP_HEADERS_Access-Control-Allow-Origin='[https://registry-ui.pangolin.<YOUR_DOMAIN>]'  # <-- CHANGE ME
REGISTRY_HTTP_HEADERS_Access-Control-Allow-Methods='[HEAD,GET,OPTIONS,DELETE]'
REGISTRY_HTTP_HEADERS_Access-Control-Allow-Credentials='[true]'
REGISTRY_HTTP_HEADERS_Access-Control-Allow-Headers='[Authorization,Accept,Cache-Control]'
REGISTRY_HTTP_HEADERS_Access-Control-Expose-Headers='[Docker-Content-Digest]'
REGISTRY_STORAGE_DELETE_ENABLED="true"

# Registry UI
SINGLE_REGISTRY="true"
REGISTRY_TITLE="OpenStudioLandscapes Hub Registry"
DELETE_IMAGES="true"
SHOW_CONTENT_DIGEST="true"
NGINX_PROXY_PASS_URL="https://registry:5000"
SHOW_CATALOG_NB_TAGS="true"
CATALOG_MIN_BRANCHES=1
CATALOG_MAX_BRANCHES=1
TAGLIST_PAGE_SIZE=100
REGISTRY_SECURED="false"
CATALOG_ELEMENTS_LIMIT=1000
