# USE THIS FOR DNS-CHALLENGE

# # ClouDNS
# https://go-acme.github.io/lego/dns/cloudns/index.html
# ENV_CLOUDNS_AUTH_ID=
# ENV_CLOUDNS_AUTH_PASSWORD=
# LEGO_DISABLE_CNAME_SUPPORT=true

# # Cloudflare
# https://dev.to/jhonoryza/traefik-cloudflare-dns-challenge-3b7m
# CF_DNS_API_TOKEN=
# LEGO_DISABLE_CNAME_SUPPORT=true
