# guacamole
TZ="UTC"
# https://guacamole.apache.org/doc/gug/recording-playback.html#
RECORDING_ENABLED=false
# https://guacamole.apache.org/doc/gug/json-auth.html#
# GUACD_HOSTNAME="guacd"
# MYSQL_HOSTNAME="db"
# JSON_SECRET_KEY=

# db
# MYSQL_DATABASE="guacamole_db"
# MYSQL_ROOT_PASSWORD="test"
# MYSQL_PASSWORD="test"
# MYSQL_USER="guacamole_user"
